<div class="col-md-10 col-md-offset-1">
  <div class="milliprik"></div>
  <div class="profile-header">
    <%=@user.name %>'s Festival Schedule
  </div>

  <% @user.favorites.each do |favorite|%>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="event-box">
        <h3><%= favorite.event.date %></h3>
          <li><%= link_to favorite.event.act.name, act_path(favorite.event.act) %></li>
          <li><%= favorite.event.time_period %></li>
          <li><%= link_to favorite.event.venue.name, venue_path(favorite.event.venue), :"data-no-turbolink" => true %></li>
          <li><%= link_to "Delete Event", user_favorite_path(@user,favorite),
                                  :data => {:confirm =>"You sure?",
                                  :method => "delete"}, class:"btn btn-default" %></li>

      </div>
    </div>
  <% end %>
</div>


