
<!DOCTYPE html>
<html>
  <head>
    <title>Pop Portland!</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/scripts.js"></script>
  </head>

  <% if notice || alert %>
    <div id="alert-row" class="row">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
    </div>
  <% end %>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
