<br>
<br>

<h1><% @act.events.each do |event|%>
<ul>
  <%= event.date %>
  <%= event.venue.name %>
  <%= event.venue.address %>
  <%= event.time_period %>
</ul>
<% end %>
</h1>

<div class="col-md-10 col-md-offset-1">
  <div class="act-header">
     <%= @act.name %>
   <br>
  </div>
   <div class="act-description">
     <%= @act.description %>
   </div>
   <div class="act-details">
     <li>Genre: <%= @act.genre %></li>
     <li><%=link_to "Website",  @act.website %></li>
   </div>
   <p class="act-image-wrapper">
      <img class="act-image-big" src=<%= @act.image %>
   </p>
   <%= @act.songs.first.html.html_safe %>
</div>
