<div class="col-md-10 col-md-offset-1">
  <div class="act-header">
    <div class="milliprik"></div>
     <%= @act.name %>
   <br>
  </div>
  <p class="act-image-wrapper">
    <img class="act-image-big" src=<%= @act.image %>
  </p>
  <br>
  <div class="act-details">
    <li>Genre: <%= @act.genre %></li>
    <li><%=link_to "Website",  @act.website %></li>
  </div>
  <br>
  <div class="description">
    <%= @act.description %>
  </div>

  <div class="container-fluid">
    <% @act.events.each do |event|%>
      <h1><%= event.date %></h1>
      <ul>
        <li><%= event.time_period %></li>
        <li><%= link_to event.venue.name, venue_path(event.venue), :"data-no-turbolink" => true %></li>
        <% if user_signed_in? %>
          <%= render 'layouts/favorite_form', event: event %>
        <% else %>
        <div class="user-session">
          <p><%= link_to "Sign in", new_user_registration_path %> or
          <%= link_to "Login", new_user_session_path %> to add event to your schedule!</p>
        <div>
        <% end %>
      </ul>
    <% end %>
  </div>
  <br>
  <br>
  <%= @act.songs.first.html.html_safe %>
</div>




