
<div class="col-md-10 col-md-offset-1">
  <div class="act-header">
     <%= @act.name %>
   <br>
  </div>
  <br>
  <div class="act-description">
    <%= @act.description %>
  </div>
  <div class="act-details">
    <li>Genre: <%= @act.genre %></li>
    <li><%=link_to "Website",  @act.website %></li>
  </div>
  <p class="act-image-wrapper">
    <img class="act-image-big" src=<%= @act.image %>
  </p>

<!-- #Fix how this displays! -->
<div class="container-fluid">
   <% @act.events.each do |event|%>
   <h1><%= event.date %></h1>
   <ul>
     <li> <%= event.time_period %></li>
     <li><%= link_to event.venue.name,venue_path(event.venue) %></li>
   </ul>
   <% end %>
</div>
<br>
<br>

</div>
<%= @act.songs.first.html.html_safe %>
